.card-container {
    display: grid;
    place-items: center;
    grid-template-areas: "inner-div"
}


.inner {
    height: 100%;
    width: 100%;
    /* important part */
    grid-area: inner-div;
  }