/* https://react-bootstrap.github.io/components/modal/ */

.modal-header {
    background-color: #5cb239;
}

.modal-body {
    background-color: #b3387c;

}

.modal-footer {
    background-color: #5cb239;

}